default.ini.local
*.egg-info/*
clean_data/*
*.log
*Queries*.txt
*.pyc
*.sqlite

workloadanalysis/data.py
workloadanalysis/sdss/*
workloadanalysis/sqlshare/*
workloadanalysis/sqlshare/*/*
workloadanalysis/sqlshare_analysis.py
workloadanalysis/anonymize.ipynb
workloadanalysis/Anonymized_False.csv
workloadanalysis/Anonymized_True.csv
workloadanalysis/attributesimilarity.py
workloadanalysis/complete.png
workloadanalysis/operators.csv
workloadanalysis/usage_of_columns.png
workloadanalysis/used_columns.dat
workloadanalysis/used_columns.txt
workloadanalysis/user_hashes.csv
sqlshare_owner.txt
