default.ini.local
*.egg-info/*
clean_data/*
*.csv
*.log
*Queries*.txt
*.pyc
*.sqlite

workloadanalysis/data.py
workloadanalysis/sdss/*
workloadanalysis/sqlshare/*
workloadanalysis/sqlshare/*/*
workloadanalysis/sqlshare_analysis.py
